@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600,600i");
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@font-face {
  font-family: "abpicons";
  src: url("scss/icons/abpicons/fonts/abpicons.eot?33ongu");
  src: url("scss/icons/abpicons/fonts/abpicons.eot?33ongu#iefix") format("embedded-opentype"), url("scss/icons/abpicons/fonts/abpicons.woff2?33ongu") format("woff2"), url("scss/icons/abpicons/fonts/abpicons.ttf?33ongu") format("truetype"), url("scss/icons/abpicons/fonts/abpicons.woff?33ongu") format("woff"), url("scss/icons/abpicons/fonts/abpicons.svg?33ongu#abpicons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="abp-icon-"], [class*=" abp-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "abpicons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.abp-icon-chevron-right:before {
  content: ""; }

.abp-icon-chevron-left:before {
  content: ""; }

body.view-mode {
  background: #223c3f;
  overflow: auto;
  padding: 0;
  margin: 0; }
  body.view-mode::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #223c3f;
    z-index: 1002; }
  body.view-mode.canvas_events_loaded::before, .htmlReady body.view-mode::before {
    z-index: 0;
    pointer-events: none; }
  .abp-isBookCover body.view-mode::before, .htmlReady body.view-mode.abp-body-home::before, .htmlReady body.view-mode.abp-body-unit::before {
    z-index: 110; }

.abp-empty {
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 300;
  text-align: center;
  padding: 40px 0;
  margin: 0 auto;
  opacity: .25;
  max-width: 680px; }

.link {
  font-family: "Source Sans Pro", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-block;
  border-radius: 0;
  position: relative;
  background: transparent;
  text-decoration: none;
  transition-property: color, background-color, border-color, box-shadow, opacity, height;
  transition-duration: .2s;
  transition-timing-function: ease-in;
  font-size: 15px;
  line-height: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff; }
  .link.link_back::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "abpicons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: ""; }
  .link:hover {
    color: #D43B24; }

.abp-gohome {
  padding-top: 0;
  padding-bottom: 10px; }

.abp-button-icon {
  font-family: "Source Sans Pro", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-block;
  border-radius: 0;
  position: relative;
  background: transparent;
  text-decoration: none;
  transition-property: color, background-color, border-color, box-shadow, opacity, height;
  transition-duration: .2s;
  transition-timing-function: ease-in;
  width: 26px;
  height: 26px;
  position: relative; }
  .abp-button-icon .abp-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }
  .abp-button-icon.abp-button-sendactivity .abp-icon {
    background-image: url(img/icon-sendactivity.png); }
  .abp-button-icon.abp-button-lock .abp-icon {
    background-image: url(img/button-locks.png);
    background-size: 26px 78px;
    background-position: 0 -52px; }
  .abp-button-icon.abp-button-lock.abp-unlock .abp-icon {
    background-position: 0 0; }

.abp-title-1 {
  font-size: 60px;
  line-height: 1.2em;
  font-weight: 300;
  margin: 0 0 10px 0;
  padding: 0; }
  .abp-title-1:last-child {
    margin-bottom: 0; }
.abp-title-2 {
  font-size: 55px;
  line-height: 0.9454545455em;
  font-weight: 300;
  margin: 0 0 10px 0;
  padding: 0; }
  .abp-title-2:last-child {
    margin-bottom: 0; }
.abp-title-3 {
  font-size: 28px;
  line-height: 1.2em;
  font-weight: 600;
  margin: 0 0 10px 0;
  padding: 0; }
  .abp-title-3:last-child {
    margin-bottom: 0; }
.abp-title-4 {
  font-size: 25px;
  line-height: 1em;
  font-weight: 300;
  margin: 0 0 10px 0;
  padding: 0; }
  .abp-title-4:last-child {
    margin-bottom: 0; }
.abp-title-5 {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 300;
  margin: 0 0 4px 0;
  padding: 0; }
  .abp-title-5:last-child {
    margin-bottom: 0; }
  .abp-title-5 + *:empty {
    margin-top: -4px; }

.abp-intro {
  font-size: 31px;
  line-height: 1.1935483871em;
  font-weight: 300;
  margin: 0;
  padding: 0; }

.abp-navigation_secondary ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .abp-navigation_secondary ul li {
    background: #d43923;
    background: -moz-linear-gradient(0% 50% 0deg, #e2764e 0%, #d43923 99.84%);
    background: -webkit-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #e2764e), color-stop(0.9984, #d43923));
    background: -o-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
    background: -ms-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
    background: linear-gradient(90deg, #e2764e 0%, #d43923 99.84%);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 2em;
    font-weight: 300;
    border-left: 10px solid #ffffff;
    padding: 0 20px;
    margin: 0 0 12px 0;
    transform: translate(30px, 0);
    width: 620px;
    max-width: 100%;
    transition: transform .3s ease-in; }
    .abp-navigation_secondary ul li:hover {
      transform: translate(0, 0); }
    .abp-navigation_secondary ul li span,
    .abp-navigation_secondary ul li a {
      display: block;
      color: #ffffff;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }

.abp-unit-number {
  width: 54px;
  height: 54px;
  border-radius: 100px;
  border-radius: 100%;
  background: #417280;
  background: -moz-linear-gradient(50% 99.24% 90deg, #417280 0%, #68b8cb 100%);
  background: -webkit-linear-gradient(90deg, #417280 0%, #68b8cb 100%);
  background: -webkit-gradient(linear, 50% 99.24%, 50% -1.57%, color-stop(0, #417280), color-stop(1, #68b8cb));
  background: -o-linear-gradient(90deg, #417280 0%, #68b8cb 100%);
  background: -ms-linear-gradient(90deg, #417280 0%, #68b8cb 100%);
  background: linear-gradient(0deg, #417280 0%, #68b8cb 100%);
  position: relative; }
  .abp-unit-number-inner {
    background: -moz-linear-gradient(50% 0.65% -90deg, #417280 0%, #68b8cb 100%);
    background: -webkit-linear-gradient(-90deg, #417280 0%, #68b8cb 100%);
    background: -webkit-gradient(linear, 50% 0.65%, 50% 98.64%, color-stop(0, #417280), color-stop(1, #68b8cb));
    background: -o-linear-gradient(-90deg, #417280 0%, #68b8cb 100%);
    background: -ms-linear-gradient(-90deg, #417280 0%, #68b8cb 100%);
    background: linear-gradient(180deg, #417280 0%, #68b8cb 100%);
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .abp-unit-number-inner span {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.2083333333em; }
    .abp-unit-number-inner::before {
      content: '';
      opacity: .25;
      width: 90%;
      height: 90%;
      position: absolute;
      top: 0;
      left: 0;
      background: -moz-radial-gradient(50% -0.72%, circle farthest-side, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-radial-gradient(50% -0.72%, circle farthest-side, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-gradient(radial, 50% -0.72%, 0, 50% -0.72%, 30.6, color-stop(0, #ffffff), color-stop(1, rgba(255, 255, 255, 0)));
      background: -o-radial-gradient(50% -0.72%, circle farthest-side, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      background: -ms-radial-gradient(50% -0.72%, circle farthest-side, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      background: radial-gradient(50% -0.72%, circle farthest-side, #ffffff 0%, rgba(255, 255, 255, 0) 100%); }
  .abp-unit-number_large {
    width: 95px;
    height: 95px; }
    .abp-unit-number_large .abp-unit-number-inner {
      width: 85px;
      height: 85px; }
      .abp-unit-number_large .abp-unit-number-inner span {
        font-size: 47px;
        line-height: 1.1851851852em; }

.abp-unit {
  width: 217px;
  height: 294px;
  background: #223c3f;
  position: relative;
  box-shadow: 5px 5px 20px 0 rgba(24, 24, 24, 0.15); }
  .abp-unit-inner {
    display: flex;
    flex-direction: column;
    height: 294px; }
  .abp-unit-header {
    background: #d43923;
    background: -moz-linear-gradient(0% 50% 0deg, #e2764e 0%, #d43923 99.84%);
    background: -webkit-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #e2764e), color-stop(0.9984, #d43923));
    background: -o-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
    background: -ms-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
    background: linear-gradient(90deg, #e2764e 0%, #d43923 99.84%);
    color: #ffffff;
    padding: 16px 13px;
    position: relative; }
    .abp-unit-header::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -15px;
      right: 20px;
      z-index: 10;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #d43923; }
  .abp-unit-content {
    padding: 16px 13px;
    position: relative;
    flex-grow: 2;
    background: #f4e9ce; }
    .abp-unit-content::before {
      content: '';
      background: #ffffff;
      opacity: .6;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%; }
    .abp-unit-content-description {
      font-size: 20px;
      line-height: 1.2em;
      font-weight: 600;
      color: #223c3f;
      padding-right: 30px;
      position: relative;
      z-index: 10;
      padding-top: 24px; }
    .abp-unit-content-background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%; }
      .abp-unit-content-background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        display: block; }
      .abp-unit-content-background.compat-object-fit {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
        .abp-unit-content-background.compat-object-fit img {
          display: none !important; }
  .abp-unit .abp-unit-number {
    position: absolute;
    bottom: 0;
    transform: translate(0, 50%);
    left: 12px;
    z-index: 10; }

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1); }
  25% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9); }
  26% {
    opacity: 0;
    transform: translateX(10px) scale(0.9); }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1); } }
@keyframes bounceBeta {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1); }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9); }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9); }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1); } }
.abp-units-slider {
  position: relative; }
  .abp-units-slider .slick-arrow {
    border: 0;
    background: none;
    outline: none;
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translate(0, -50%);
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 45px;
    height: 45px;
    color: #223c3f; }
    .abp-units-slider .slick-arrow::before, .abp-units-slider .slick-arrow::after {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: "abpicons" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 45px;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: 0;
      color: #223c3f; }
    .abp-units-slider .slick-arrow::after {
      opacity: 0;
      font-size: 17px;
      top: 14px;
      left: 3px;
      transition: opacity .3s ease-in; }
    .abp-units-slider .slick-arrow.slick-prev {
      left: -65px; }
      .abp-units-slider .slick-arrow.slick-prev::before, .abp-units-slider .slick-arrow.slick-prev::after {
        content: ""; }
      .abp-units-slider .slick-arrow.slick-prev::after {
        right: 3px;
        left: auto; }
      .abp-units-slider .slick-arrow.slick-prev:hover::before, .abp-units-slider .slick-arrow.slick-prev:hover::after {
        animation-name: bounceAlpha;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; }
      .abp-units-slider .slick-arrow.slick-prev:hover::after {
        animation-delay: 0.2s; }
    .abp-units-slider .slick-arrow.slick-next {
      right: -65px; }
      .abp-units-slider .slick-arrow.slick-next::before, .abp-units-slider .slick-arrow.slick-next::after {
        content: ""; }
      .abp-units-slider .slick-arrow.slick-next:hover::before, .abp-units-slider .slick-arrow.slick-next:hover::after {
        animation-name: bounceBeta;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; }
      .abp-units-slider .slick-arrow.slick-next:hover::after {
        animation-delay: 0.2s; }
    .abp-units-slider .slick-arrow:hover::after {
      opacity: 1; }
    .abp-units-slider .slick-arrow.slick-disabled {
      opacity: 0; }
  .abp-units-slider-item {
    margin-right: 8px;
    position: relative; }
    .abp-units-slider-item::before {
      content: '';
      display: block;
      background: #223c3f;
      height: 7px;
      width: calc(100% + 12px);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 43px; }
    .slick-slide:first-child .abp-units-slider-item::before {
      width: calc(100% - 24px);
      left: 24px; }
    .slick-slide:last-child .abp-units-slider-item::before {
      width: 24px;
      left: 0; }

.abp-tabs {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 22px;
  line-height: 1.0909090909em;
  text-transform: uppercase;
  font-weight: 600; }
  .abp-tabs .abp-tab {
    width: 50%;
    text-align: center;
    background: #223c3f; }
    .abp-tabs .abp-tab a, .abp-tabs .abp-tab span {
      background: rgba(255, 255, 255, 0.5);
      display: block;
      padding: 30px 40px;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis; }
    .abp-tabs .abp-tab_current {
      color: #ffffff; }
      .abp-tabs .abp-tab_current a, .abp-tabs .abp-tab_current span {
        color: #ffffff;
        background: transparent; }
  .abp-tabs-content {
    display: none; }
    .abp-tabs-content-wrapper {
      background: #223c3f; }
    .abp-tabs-content > * {
      padding: 0 40px; }
    .abp-tabs-content_current {
      display: block; }

.abp-resources-list {
  padding: 40px 0;
  margin: 0;
  margin-bottom: -20px; }
  .abp-resources-list-icon {
    display: block;
    width: 30px;
    height: 30px;
    background: url(img/resources-icons.png) 0 0 no-repeat;
    background-size: 118px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .abp-resources-list-icon_musica {
      background-position: -44px -30px; }
    .abp-resources-list-icon_video {
      background-position: -88px 0; }
    .abp-resources-list-icon_img {
      background-position: 0 0; }
    .abp-resources-list-icon_url {
      background-position: 0 -30px; }
    .abp-resources-list-icon_archivo {
      background-position: -44px 0; }
    .abp-resources-list-icon_libro, .abp-resources-list-icon_actividad {
      background-position: -90px -30px; }
  .abp-resources-list-item {
    margin: 0 0 15px 0; }
    .abp-resources-list-item-inner {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .abp-resources-list-item-inner:hover .abp-resources-list-item-text {
        background: #e6b7b0; }
    .abp-resources-list-item-image {
      position: relative;
      width: 74px;
      height: 74px;
      border-radius: 100px; }
      .abp-resources-list-item-image-inner {
        position: relative;
        z-index: 10;
        width: 74px;
        height: 74px;
        border-radius: 100px;
        overflow: hidden; }
        .abp-resources-list-item-image-inner img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
          display: block; }
        .abp-resources-list-item-image-inner.compat-object-fit {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center; }
          .abp-resources-list-item-image-inner.compat-object-fit img {
            display: none !important; }
        .abp-resources-list-item-image-inner::before, .abp-resources-list-item-image-inner::after {
          content: '';
          position: absolute;
          top: 50%;
          left: -50%;
          transform: rotate(-45deg);
          background: rgba(255, 255, 255, 0.2);
          width: 200%; }
        .abp-resources-list-item-image-inner::before {
          height: 10px;
          left: -75%; }
        .abp-resources-list-item-image-inner::after {
          height: 5px; }
      .abp-resources-list-item-image::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        z-index: 2;
        background: #d43923;
        background: -moz-linear-gradient(0% 50% 0deg, #e2764e 0%, #d43923 99.84%);
        background: -webkit-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
        background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #e2764e), color-stop(0.9984, #d43923));
        background: -o-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
        background: -ms-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
        background: linear-gradient(90deg, #e2764e 0%, #d43923 99.84%); }
      .abp-resources-list-item-image::after {
        content: '';
        width: 108%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        border-radius: 100px;
        background: -moz-linear-gradient(50% 100% 90deg, black 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0, black), color-stop(1, rgba(0, 0, 0, 0)));
        background: -o-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
        background: -ms-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
        opacity: .2; }
    .abp-resources-list-item-text {
      flex-grow: 2;
      max-width: calc(100% - 50px);
      height: 63px;
      background: #ededed;
      transition: background-color .2s ease-in;
      margin-left: -44px;
      margin-right: 20px;
      padding: 10px;
      padding-left: 64px;
      position: relative;
      font-size: 12px;
      line-height: 1.1666666667em;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .abp-resources-list-item-text-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 2;
        padding-left: 10px;
        max-width: calc(100% - 150px);
        min-width: calc(100% - 150px); }
        .abp-resources-list-item-text-main:first-child {
          padding-left: 0; }
        .abp-resources-list-item-text-main-top {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          max-width: 100%;
          min-width: 100%; }
          .abp-resources-list-item-text-main-top .abp-button-icon {
            margin-right: 10px; }
        .abp-resources-list-item-text-main-bottom {
          max-width: 100%;
          min-width: 100%; }
          .abp-body-user-not-student .abp-resources-list-item-text-main-bottom {
            padding-left: 36px; }
      .abp-resources-list-item-text-aux-1 {
        align-self: flex-start; }
      .abp-resources-list-item-text-aux-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: -10px;
        padding-left: 10px; }
        .abp-resources-list-item-text-aux-2 .abp-resources-list-item-text-aux-right {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          padding-left: 10px; }
        .abp-resources-list-item-text-aux-2 .abp-activity-pages {
          margin: 4px 0;
          padding: 2px 6px;
          font-size: 12px; }
        .abp-resources-list-item-text-aux-2 .abp-activity-grade {
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          background: #6ecb44;
          width: 50px;
          height: 30px;
          line-height: 30px;
          border-radius: 100px 0 0 100px;
          color: #ffffff;
          margin: 2px 0;
          padding: 0 8px 0 14px; }
      .abp-resources-list-item-text .abp-title-5,
      .abp-resources-list-item-text p {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .abp-resources-list-item-text::before {
        content: '';
        display: block;
        width: 20px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -20px;
        border-radius: 0 10px 10px 0;
        background: #d43923;
        background: -moz-linear-gradient(0% 50% 0deg, #e2764e 0%, #d43923 99.84%);
        background: -webkit-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
        background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #e2764e), color-stop(0.9984, #d43923));
        background: -o-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
        background: -ms-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
        background: linear-gradient(90deg, #e2764e 0%, #d43923 99.84%);
        box-shadow: inset 17px 0px 20px -20px rgba(34, 60, 63, 0.7); }
  .abp-resources-list_2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px; }
    .abp-resources-list_2 .abp-resources-list-item {
      width: 50%;
      max-width: 50%;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px; }
      .abp-resources-list_2 .abp-resources-list-item-image {
        width: 58px;
        height: 58px;
        position: relative; }
        .abp-resources-list_2 .abp-resources-list-item-image::after, .abp-resources-list_2 .abp-resources-list-item-image::before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        .abp-resources-list_2 .abp-resources-list-item-image::before {
          background: transparent;
          border: 4px solid #223c3f;
          width: 54px;
          height: 54px;
          z-index: 2;
          box-sizing: content-box; }
        .abp-resources-list_2 .abp-resources-list-item-image::after {
          background: #d43923;
          background: -moz-linear-gradient(0% 50% 0deg, #e2764e 0%, #e2764e 50%, #d43923 50%, #d43923 99.84%);
          background: -webkit-linear-gradient(0deg, #e2764e 0%, #e2764e 50%, #d43923 50%, #d43923 99.84%);
          background: -o-linear-gradient(0deg, #e2764e 0%, #e2764e 50%, #d43923 50%, #d43923 99.84%);
          background: -ms-linear-gradient(0deg, #e2764e 0%, #e2764e 50%, #d43923 50%, #d43923 99.84%);
          background: linear-gradient(0deg, #e2764e 0%, #e2764e 50%, #d43923 50%, #d43923 99.84%);
          width: 72px;
          height: 72px;
          opacity: 1;
          z-index: 1; }
        .abp-resources-list_2 .abp-resources-list-item-image-inner {
          background: #d43923;
          background: -moz-linear-gradient(0% 50% 0deg, #e2764e 0%, #e2764e 50%, #d43923 50%, #d43923 99.84%);
          background: -webkit-linear-gradient(0deg, #e2764e 0%, #e2764e 50%, #d43923 50%, #d43923 99.84%);
          background: -o-linear-gradient(0deg, #e2764e 0%, #e2764e 50%, #d43923 50%, #d43923 99.84%);
          background: -ms-linear-gradient(0deg, #e2764e 0%, #e2764e 50%, #d43923 50%, #d43923 99.84%);
          background: linear-gradient(0deg, #e2764e 0%, #e2764e 50%, #d43923 50%, #d43923 99.84%);
          z-index: 10;
          width: 58px;
          height: 58px; }
          .abp-resources-list_2 .abp-resources-list-item-image-inner::before, .abp-resources-list_2 .abp-resources-list-item-image-inner::after {
            content: none; }
      .abp-resources-list_2 .abp-resources-list-item-text {
        z-index: 2;
        max-width: calc(100% - 46px);
        padding-left: 40px;
        min-height: 72px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: -32px; }
        .abp-resources-list_2 .abp-resources-list-item-text-main {
          max-width: 100%;
          min-width: 100%; }
          .abp-resources-list_2 .abp-resources-list-item-text-main-bottom {
            padding-left: 0; }
        .abp-resources-list_2 .abp-resources-list-item-text::before {
          border-radius: 0; }

.abp-container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px; }
  .abp-container_2 {
    max-width: 1240px; }
  .abp-container_3 {
    max-width: 1440px; }

.abp-page {
  display: none;
  padding-top: 64px;
  background-color: #223c3f;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #ffffff;
  position: relative;
  z-index: 1000; }
  .abp-page_home {
    padding-top: 44px; }
  .abp-page .abp-gohome {
    position: relative;
    z-index: 10; }
  .abp-page::before {
    content: '';
    background: rgba(34, 60, 63, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%; }
  .abp-body-home .abp-page_home {
    display: block; }
  .abp-body-unit .abp-page_unit {
    display: block; }

#book-index.active {
  z-index: 1100; }

#book-index .col-main {
  background: #DF6A46; }

body:not(.isTablet) #book-index #indice .units ul li:not(.disabled) a:hover,
#book-index #indice .units ul li.active a {
  background: #DF6A46; }

#book-index #indice .unit-content .actividades .item {
  opacity: 1; }

.abp-section {
  position: relative;
  z-index: 10;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px; }
  .abp-section * {
    box-sizing: border-box; }
  .abp-section img {
    border: 0;
    outline: 0; }
  .abp-section a {
    color: #223c3f;
    text-decoration: none;
    transition: color .3s, background-color .3s, border-color .3s; }
    .usingMouse .abp-section a:hover {
      color: #223c3f;
      text-decoration: none; }
    .abp-section a:focus {
      outline: none; }
  .abp-section ul, .abp-section ol {
    list-style: none; }
  .abp-section p {
    margin: 0 0 20px 0; }
    .abp-section p:last-child {
      margin-bottom: 0; }
  .abp-section_home .abp-section-header {
    min-height: 210px;
    height: 30vh;
    background: transparent;
    color: #ffffff;
    position: relative; }
    .abp-section_home .abp-section-header-inner {
      min-height: 210px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-right: calc(620px - (100vw -  1020px)/2); }
    .abp-section_home .abp-section-header .abp-navigation_secondary {
      position: absolute;
      bottom: 0;
      right: 0; }
  .abp-section_home .abp-section-content {
    padding: 50px 0 50px;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    height: calc(70vh - 45px);
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .abp-section_home .abp-section-content::before, .abp-section_home .abp-section-content::after {
      content: '';
      background: transparent;
      background: -moz-linear-gradient(631.58% 50.44% 0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.14) 14.13%, rgba(255, 255, 255, 0.97) 100%, #ffffff 100%);
      background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.14) 14.13%, rgba(255, 255, 255, 0.97) 100%, #ffffff 100%);
      background: -webkit-gradient(linear, 631.58% 50.44%, 731.58% 50.44%, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.1413, rgba(255, 255, 255, 0.14)), color-stop(1, rgba(255, 255, 255, 0.97)), color-stop(1, #ffffff));
      background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.14) 14.13%, rgba(255, 255, 255, 0.97) 100%, #ffffff 100%);
      background: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.14) 14.13%, rgba(255, 255, 255, 0.97) 100%, #ffffff 100%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.14) 14.13%, rgba(255, 255, 255, 0.97) 100%, #ffffff 100%);
      position: absolute;
      bottom: 0;
      z-index: 1;
      height: 100%;
      width: calc(50vw - 410px);
      transition: width .3s linear; }
    .abp-section_home .abp-section-content::before {
      left: 0;
      transform: scale(-1); }
    .abp-section_home .abp-section-content::after {
      right: 0; }
    .abp-section_home .abp-section-content.slider--toleft::before {
      width: calc(50vw - 490px); }
    .abp-section_home .abp-section-content.slider--toright::after {
      width: calc(50vw - 490px); }
    .abp-section_home .abp-section-content .abp-unit {
      margin-bottom: 50px; }
  .abp-section_unit {
    padding-bottom: 50px; }
    .abp-section_unit-inner {
      display: flex;
      justify-content: space-between;
      align-content: flex-start; }
      .abp-section_unit-inner .abp-section-header {
        height: calc(100vh - 144px);
        min-height: 500px;
        width: 290px;
        position: relative;
        z-index: 10;
        background: #f4e9ce;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        .abp-section_unit-inner .abp-section-header-top {
          background: #d43923;
          background: -moz-linear-gradient(0% 50% 0deg, #e2764e 0%, #d43923 99.84%);
          background: -webkit-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
          background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, #e2764e), color-stop(0.9984, #d43923));
          background: -o-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
          background: -ms-linear-gradient(0deg, #e2764e 0%, #d43923 99.84%);
          background: linear-gradient(90deg, #e2764e 0%, #d43923 99.84%);
          color: #ffffff;
          padding: 40px;
          position: relative;
          margin: 0;
          width: 100%;
          min-height: 150px; }
          .abp-section_unit-inner .abp-section-header-top::before {
            content: '';
            display: block;
            position: absolute;
            top: 28px;
            right: -20px;
            z-index: 10;
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 20px solid #d43923; }
        .abp-section_unit-inner .abp-section-header-bottom {
          width: 100%;
          position: relative;
          flex-grow: 2;
          padding: 20px 40px; }
          .abp-section_unit-inner .abp-section-header-bottom::before {
            content: '';
            background: #ffffff;
            opacity: .6;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%; }
          .abp-section_unit-inner .abp-section-header-bottom-description {
            position: relative;
            z-index: 10;
            padding-bottom: 140px;
            color: #223c3f; }
          .abp-section_unit-inner .abp-section-header-bottom-number {
            position: absolute;
            bottom: 20px;
            right: 20px;
            z-index: 20; }
          .abp-section_unit-inner .abp-section-header-bottom-background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%; }
            .abp-section_unit-inner .abp-section-header-bottom-background img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center center;
              display: block; }
            .abp-section_unit-inner .abp-section-header-bottom-background.compat-object-fit {
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center center; }
              .abp-section_unit-inner .abp-section-header-bottom-background.compat-object-fit img {
                display: none !important; }
      .abp-section_unit-inner .abp-section-content {
        position: relative;
        z-index: 5;
        width: calc(100% - 290px);
        height: calc(100vh - 144px);
        min-height: 500px;
        overflow: hidden; }
        .abp-section_unit-inner .abp-section-content .abp-resources-list-wrapper {
          height: calc(100vh - 230px);
          min-height: 414px;
          overflow: hidden;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch; }
